#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.tweets_on_maps {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.tweets_on_maps .form-control {
    width: 50% !important;
}

.tweets_on_maps .btn {
    width:24%;
    border-radius: 0;
    /*float: left;*/
}

.ajax-loader {
    position: absolute;
    top: 244px;
    z-index: 99;
    margin-left: 600px;
}