#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.tweets_on_maps {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.tweets_on_maps .form-control {
    width: 50% !important;
}

.tweets_on_maps .btn {
    width:24%;
    border-radius: 0;
    /*float: left;*/
}

.ajax-loader {
    position:fixed;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background-color:#666;
    background-image:url('../image/loader.gif');
    background-repeat:no-repeat;
    background-position:center;
    z-index:10000000;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.pac-container{
    margin-top: -200px;
}